<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
<div class = "home-page">

<div class = "description m-2 p-3">
    <img class = "icon-image" src = "assets/mattress.svg"/>
    <img class = "icon-image" src = "assets/parcel.svg"/>
    <h2 class = "text-center">Air Mattress Rentals for the Social Tourist</h2>
</div>
<div class ="date-picker m-2 p-3">
    <h2> When is your trip?</h2>
    <ejs-daterangepicker placeholder='Select a range' [startDate]="startDate" [endDate]="endDate"></ejs-daterangepicker>
</div>

<div class = "location-picker m-2 p-3">
    <h2> Where is your trip?</h2>
    <GooglePlacesComponent (setAddress)="getAddress($event)" adressType="geocode"></GooglePlacesComponent>
</div>
<div class = "text-center">
    <button type="button" class="btn btn-primary m-3" (click) = "router.navigate(['/checkout'],{queryParams: {startDate:[startDate],endDate:[endDate],address:[address]}})">Checkout as Guest</button>
</div>
</div>
