<div *ngIf="authenticationService.userData | async">
        <a class = "navbar-brand" href = "#">Crasher</a>
        <a class="nav-link" href="#">About</a>

        <h1>
            Hello {{ (authenticationService.userData | async)?.email }}
        </h1>
        <a class="nav-link" href="#">Logout</a>
</div>

<div *ngIf="!(authenticationService.userData | async)">
    <nav class = "navbar navbar-expand-md bg-dark navbar-dark static-top">
        <a class = "navbar-brand" href = "#">Crasher</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Create An Account</a>
        <a class="nav-link" href="#">Login</a>
    </nav>
</div>



